<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Caso de estudio  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Incendios en México </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/incendio.jpg" align="left" style="width:500px"/></td>
<td>

* **La Comisión Nacional Forestal (CONAFOR)** es la institución federal encargada de operar, desde septiembre de 2002, el Programa Nacional de Protección contra Incendios Forestales en México, cuyo objetivo es proteger los recursos forestales de la presencia de incendios y atacar las causas que los originan. Para ello despliega acciones específicas en materia de prevención, detección, control y combate. 

* **¿Qué es un incendio forestal?** Un incendio forestal es la propagación libre y no programada del fuego sobre la vegetación en los bosques selvas y zonas áridas y semiáridas. 

* Se calcula que **las actividades humanas ocasionan el 99%** de éstos incendios y sólo el resto tiene como causa fenómenos naturales 
    
<br>
</td>
</tr>
</table>

# Librerías

Cargando las bibliotecas que necesitamos

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [147]:
# cargar el archivo datos/Serie_historica_anual_incendios_2017.csv en un dataframe llamado df
df_incendios = pd.read_csv('datos/Serie_historica_anual_incendios_2017.csv')
df_incendios.head(10)

,Número de Incendio,Clave del incendio,Grados,Minutos,Segundos,Grados.1,Minutos.1,Segundos.1,Clave municipio,Estado,...,Tamaño,Deteccion,Llegada,Duracion HMS,Duracion H-Decimal,Costos MXN,Superficie Salvada,CO2 emitido,CO2 Evito emitir,Region
0,60.0,17-01-0060,21,52.0,42.41,102.0,25.0,19.91,1.0,Aguascalientes,...,Mayor a 100 Hectáreas,00:15:00,01:15:00,23:45:00,23.75,676302.75,11958.26,9598.13,148522.83,Occidente
1,64.0,17-01-0064,21,50.0,17.72,102.0,36.0,36.52,3.0,Aguascalientes,...,Mayor a 100 Hectáreas,02:38:00,13:07:00,23:45:00,23.75,795330.96,12056.42,24343.98,379283.92,Occidente
2,56.0,17-01-0056,21,50.0,1.90,102.0,14.0,28.00,1.0,Aguascalientes,...,51 a 100 Hectáreas,00:25:00,01:00:00,22:15:00,22.25,44817.25,1404.40,1144.39,17442.76,Occidente
3,66.0,17-01-0066,21,55.0,28.90,101.0,55.0,28.50,10.0,Aguascalientes,...,11 a 20 Hectáreas,00:22:00,00:20:00,21:42:00,21.70,11838.80,309.87,252.50,3848.61,Occidente
4,55.0,17-01-0055,22,12.0,28.90,102.0,21.0,16.60,7.0,Aguascalientes,...,51 a 100 Hectáreas,00:15:00,00:30:00,20:30:00,20.50,17993.83,1254.42,1838.74,28026.09,Occidente
5,8.0,17-01-0008,21,56.0,3.47,102.0,43.0,36.16,3.0,Aguascalientes,...,11 a 20 Hectáreas,00:25:00,00:35:00,20:00:00,20.00,18640.10,246.16,1143.49,17429.05,Occidente
6,40.0,17-01-0040,22,8.0,21.50,102.0,22.0,11.60,8.0,Aguascalientes,...,21 a 50 Hectáreas,00:15:00,00:35:00,19:00:00,19.00,25437.21,729.48,3388.69,51650.42,Occidente
7,51.0,17-01-0051,21,56.0,58.00,102.0,39.0,45.20,3.0,Aguascalientes,...,0 a 5 Hectáreas,00:30:00,01:15:00,15:00:00,15.00,18957.82,58.53,271.89,4144.12,Occidente
8,65.0,17-01-0065,21,53.0,6.36,102.0,32.0,56.40,5.0,Aguascalientes,...,51 a 100 Hectáreas,00:30:00,07:30:00,10:00:00,10.00,3976.60,1008.11,2080.70,31714.08,Occidente
9,58.0,17-01-0058,21,49.0,35.00,102.0,8.0,1.60,10.0,Aguascalientes,...,Mayor a 100 Hectáreas,00:09:00,00:15:00,09:24:00,9.40,32510.71,2496.18,2034.04,31002.83,Occidente

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre el número total de filas y columnas </li>
</ul>
</div>

In [4]:
#Numero total de filas y columnas
df_incendios.shape

(8872, 37)

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre los nombres de las columnas </li>
</ul>
</div>

In [5]:
#Columnas
df_incendios.columns

Index(['Número de Incendio', 'Clave del incendio', 'Grados', 'Minutos',
       'Segundos', 'Grados.1', 'Minutos.1', 'Segundos.1', 'Clave municipio',
       'Estado', 'Municipio', 'Predio', 'Causa', 'Fecha Inicio',
       'Fecha Termino', 'Mes Acontecimiento', 'Duración días',
       'Tipo de incendio', 'Tipo Vegetacion', 'Tipo Impacto',
       'Arbolado Adulto', 'Renuevo', 'Arbustivo', 'Herbaceo', 'Hojarasca',
       'Suelo Organico', 'Total Hectareas', 'Tamaño', 'Deteccion', 'Llegada',
       'Duracion HMS', 'Duracion H-Decimal', 'Costos MXN',
       'Superficie Salvada', 'CO2 emitido', 'CO2 Evito emitir', 'Region'],
      dtype='object')

Columnas importantes:
* Estado: Entidad Federativa
* Municipio: Municipio
* Tipo Impacto: Tipo impacto del incendio
* Causa: Causa del incendio
* Mes Acontecimiento: Mes en el que ocurrió el incendio
* Total Hectareas: Total de suelo afectado en Hectáreas 
* Duracion HMS: Duración en Hora:Minutos:Segundos
* Duracion H-Decimal: Duración en horas decimales

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre el tipo de dato de cada columna </li>
</ul>
</div>

In [6]:
#tipos de variables
df_incendios.dtypes

Número de Incendio      int64
Clave del incendio     object
Grados                 object
Minutos                 int64
Segundos              float64
Grados.1                int64
Minutos.1               int64
Segundos.1            float64
Clave municipio         int64
Estado                 object
Municipio              object
Predio                 object
Causa                  object
Fecha Inicio           object
Fecha Termino          object
Mes Acontecimiento     object
Duración días          object
Tipo de incendio       object
Tipo Vegetacion        object
Tipo Impacto           object
Arbolado Adulto         int64
Renuevo                 int64
Arbustivo               int64
Herbaceo                int64
Hojarasca               int64
Suelo Organico          int64
Total Hectareas         int64
Tamaño                 object
Deteccion              object
Llegada                object
Duracion HMS           object
Duracion H-Decimal    float64
Costos MXN            float64
Superficie Salvada    float64
CO2 emitido           float64
CO2 Evito emitir      float64
Region                 object
dtype: object

<div class="alert alert-info">

<b>EJERCICIO</b>:

 <ul>
  <li>Muestre los principales características estadísticas de parámetro cuantitativo  </li>
</ul>
</div>

In [8]:
# Características
df_incendios.describe()

,Número de Incendio,Minutos,Segundos,Grados.1,Minutos.1,Segundos.1,Clave municipio,Arbolado Adulto,Renuevo,Arbustivo,Herbaceo,Hojarasca,Suelo Organico,Total Hectareas,Duracion H-Decimal,Costos MXN,Superficie Salvada,CO2 emitido,CO2 Evito emitir
count,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8872.000000,8.872000e+03,8872.000000,8.872000e+03,8.872000e+03
mean,321.784378,26.552750,29.518481,99.877480,27.684851,29.526105,54.905207,2.432372,1.665577,21.021190,32.638413,23.082732,0.595469,81.409829,6.204995,1.712718e+04,1239.907328,2.982856e+03,4.680880e+04
std,310.332721,17.943577,17.330145,9.732331,17.690869,17.477507,67.260830,44.084256,16.747957,203.451119,331.118147,190.777683,11.336051,613.414613,6.292960,1.056273e+05,9349.790127,2.631238e+04,4.128974e+05
min,1.000000,0.000000,0.000000,-101.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.100000e+01,0.150000,0.000000e+00,0.000000e+00
25%,84.000000,10.000000,14.500000,98.000000,12.000000,14.400000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.250000,2.684050e+03,22.860000,5.324000e+01,8.181300e+02
50%,223.000000,25.000000,29.170000,99.000000,27.000000,29.200000,32.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,5.000000,4.000000,4.533445e+03,70.110000,1.681800e+02,2.640025e+03
75%,470.000000,42.000000,44.500000,103.000000,43.000000,44.700000,80.000000,0.000000,0.000000,5.000000,6.000000,2.000000,0.000000,23.000000,7.602500,8.800000e+03,350.570000,8.031575e+02,1.270823e+04
max,1450.000000,59.000000,60.000000,117.000000,59.000000,83.000000,570.000000,3000.000000,755.000000,12755.000000,14000.000000,7069.000000,650.000000,21538.000000,220.000000,3.785356e+06,328282.200000,1.705756e+06,2.634777e+07

<div class="alert alert-success">
    
1. a) Encontrar el Total de Hectareas afectadas por estado. b) Encontrar el Total de Hectareas afectadas por estado, ordenando los datos de mayor a menor
    
</div>

In [9]:
df_incendios.groupby('Estado')['Total Hectareas'].sum()

Estado
Aguascalientes           4734
Baja California         50957
Baja California Sur        77
Campeche                13822
Chiapas                 13021
Chihuahua               87285
Ciudad de México         2367
Coahuila                10303
Colima                   2031
Durango                 40323
Guanajuato               7665
Guerrero                24079
Hidalgo                  2978
Jalisco                189816
Michoacán               14452
Morelos                  3422
México                  11932
Nayarit                 32299
Nuevo León                733
Oaxaca                  41718
Puebla                  10571
Querétaro                2556
Quintana Roo             9628
San Luis Potosí          4383
Sinaloa                  3354
Sonora                 101072
Tabasco                   989
Tamaulipas               2670
Tlaxcala                 2452
Veracruz                 3258
Yucatán                 11012
Zacatecas               16309
Name: Total Hectareas, dtype: int64

<div class="alert alert-success">
    
2. Encontrar el tiempo promedio de los incendios por estado, ordenando los datos de mayor a menor
    
</div>

In [ ]:
# Revisar la columna de tiempo

<div class="alert alert-success">
    
3. ¿Cuáles son los diferentes tipos de causas de incendios según los datos?
    
</div>

In [13]:
df_incendios.groupby('Causa')['Causa'].count()

Causa
ACTIVIDADES \nAGROPECUARIAS                5
ACTIVIDADES AGROPECUARIAS               3329
CAZADORES                                269
FESTIVIDADES Y RITUALES                   11
FOGATAS                                  965
FOGATAS                                    1
FUMADORES                                701
INTENCIONAL                             1961
LIMPIAS DE DERECHO DE VÍA                 36
NATURALES                                100
OTRAS ACTIVIDADES PRODUCTIVAS            223
OTRAS CAUSAS                             932
QUEMA DE BASUREROS                       302
RESIDUOS DE APROVECHAMIENTO FORESTAL      22
TRANSPORTES                               15
Name: Causa, dtype: int64

<div class="alert alert-success">
    
4. ¿Cuál es el total de Hectáreas afectadas según las causas de los incendios? Ordenar los datos de mayor a menor

    
</div>

In [43]:
df_incendios.groupby('Causa')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending=True)

                                   Causa  Total Hectareas
5                               FOGATAS                 2
0            ACTIVIDADES \nAGROPECUARIAS               11
3                FESTIVIDADES Y RITUALES              157
14                           TRANSPORTES              294
13  RESIDUOS DE APROVECHAMIENTO FORESTAL              747
10         OTRAS ACTIVIDADES PRODUCTIVAS             7669
8              LIMPIAS DE DERECHO DE VÍA            11168
12                    QUEMA DE BASUREROS            17302
2                              CAZADORES            21384
4                                FOGATAS            36452
6                              FUMADORES            46786
9                              NATURALES            79308
7                            INTENCIONAL            85343
1              ACTIVIDADES AGROPECUARIAS           201373
11                          OTRAS CAUSAS           214272

<div class="alert alert-success">
    
5. ¿Cuáles son los diferentes tipos de impactos según los datos?
    
</div>

In [28]:
print('Tipos de impactos:')
df_incendios['Tipo Impacto'].unique().tolist()

Tipos de impactos:

['IMPACTO MÍNIMO', 'IMPACTO MODERADO', 'IMPACTO SEVERO']

<div class="alert alert-success">
    
6. ¿Cuáles es el total de costos por cada tipo de impacto ?
    
</div>

In [39]:
df_incendios.groupby('Tipo Impacto')['Costos MXN'].sum()

Tipo Impacto
IMPACTO MODERADO    3.820436e+07
IMPACTO MÍNIMO      1.057902e+08
IMPACTO SEVERO      7.957767e+06
Name: Costos MXN, dtype: float64

<div class="alert alert-success">
    
7. Muestre los 10 estados con mayor superficie afectada (Total Hectareas). ¿En que lugar esta Yucatán?
    
</div>

In [72]:
# 10 Estados con mayor superficie afectada
df_incendios.groupby('Estado')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending = False).reset_index().drop(['index'],axis = 1).head(10)

            Estado  Total Hectareas
0          Jalisco           189816
1           Sonora           101072
2        Chihuahua            87285
3  Baja California            50957
4           Oaxaca            41718
5          Durango            40323
6          Nayarit            32299
7         Guerrero            24079
8        Zacatecas            16309
9        Michoacán            14452

In [76]:
# Posición de Yucatán
print('Yucatán: Posición 14')
df_incendios.groupby('Estado')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending = False).reset_index().drop(['index'],axis = 1).head(14)

Yucatán: Posición 14

             Estado  Total Hectareas
0           Jalisco           189816
1            Sonora           101072
2         Chihuahua            87285
3   Baja California            50957
4            Oaxaca            41718
5           Durango            40323
6           Nayarit            32299
7          Guerrero            24079
8         Zacatecas            16309
9         Michoacán            14452
10         Campeche            13822
11          Chiapas            13021
12           México            11932
13          Yucatán            11012

<div class="alert alert-success">
    
8. Definir un nuevo *DataFrame* llamado df_yucatan el cual solo tenga datos de Yucatan.  Muestre la efectación total de superficie (Total Hectareas) en los diferentes municipios en Yucatán
    
</div>

In [180]:
df_yucatan = df_incendios[df_incendios['Estado'] == 'Yucatán'].set_index('Municipio')
df_yucatan.groupby('Municipio')['Total Hectareas'].sum().reset_index()

          Municipio  Total Hectareas
0             Abalá            308.0
1         Cacalchén            900.0
2          Calotmul             60.0
3          Celestún              2.0
4            Chemax             94.0
5   Dzilam de Bravo            904.0
6           Hunucmá           1643.0
7            Izamal            331.0
8           Mocochá            110.0
9             Motul             87.0
10        Oxkutzcab             20.0
11     Río Lagartos           1304.0
12          Sacalum            243.0
13            Tekax            631.0
14            Tekit            575.0
15          Temozón             23.0
16            Tetiz             35.0
17         Tixkokob           1031.0
18          Tizimín           1654.0
19         Tzucacab            611.0
20       Valladolid             63.0
21          Yaxcabá            383.0

<div class="alert alert-success">
    
9. Utilizando *DataFrame* "df_yucatan", muestre la afectación total de superficie en los diferentes meses (Mes Acontecimiento) ordenado de Mayor a menor. ¿Cuál es el mes más propenso a los incendios?
    
</div>

In [192]:
df_yucatan.groupby('Mes Acontecimiento')['Total Hectareas'].sum().reset_index().sort_values('Total Hectareas', ascending = False)

  Mes Acontecimiento  Total Hectareas
4              marzo           4324.0
5               mayo           1943.0
1             agosto           1928.0
3            febrero           1566.0
0              abril            975.0
2              enero            276.0

In [191]:
print('El mes más propenso a incendios es: Agosto')

El mes más propenso a incendios es: Agosto

<div class="alert alert-success">
    
10. Utilizando el *DataFrame* "df_yucatan", muestre los costos de los incendios en los diferentes municipios en Yucatán
    
</div> 
    
</div>

In [196]:
df_yucatan.groupby('Municipio')['Costos MXN'].sum().reset_index().sort_values('Costos MXN', ascending = False)

          Municipio  Costos MXN
6           Hunucmá   1216936.0
17         Tixkokob    789645.0
1         Cacalchén    744736.0
18          Tizimín    405535.0
5   Dzilam de Bravo    384021.0
13            Tekax    304963.0
19         Tzucacab    234890.0
14            Tekit    199360.0
0             Abalá    184965.0
12          Sacalum    177590.0
2          Calotmul    106200.0
11     Río Lagartos     76520.0
8           Mocochá     73432.0
10        Oxkutzcab     70130.0
4            Chemax     62510.0
9             Motul     52540.0
20       Valladolid     46820.0
7            Izamal     37260.0
21          Yaxcabá     22890.0
16            Tetiz     13200.0
15          Temozón      7980.0
3          Celestún      2300.0